*{
    padding: 0;
    margin: 0;
}
body {
    background-image: url(/background-blurry-restaurant-shop-interior.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.logo{
    margin-left: 40px;
    font-family: sans-serif;
    font-size: 35px; 
    color: white;
    text-shadow: 3px 3px 10px black;   
}
nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    margin-right: 30px;
}
nav ul li{
    list-style: none;
    margin:20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 5px 5px 10px black; 
    font-size: 20px;
}
i{
    margin: 19px 2px;
    color:white;
    text-shadow: 3px 3px 10px black; 
}
.search{
    margin: auto;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    background-color: white;
}
input{
    font-family:sans-serif;
    padding: 5px 20px;
    width:100%;
    height: 45px;
    border-radius:5px;
    border: none;
}   
.btn{
    margin: 2px 2px;
    width:20%;
    height: 43px;
    border-radius:5px;
    border: none;
    background-image: linear-gradient(to right , rgb(250, 192, 83),rgb(255, 114, 114));
}
.main{
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    color: white;
    text-shadow: 3px 3px 10px black; 
    width: fit-content;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 20px;
}